<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="../assets/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/db774bea33.js" crossorigin="anonymous"></script>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../assets/img/Logo Amazing Events.png" alt="Logo" width="300">
          </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active " aria-current="page" href="./home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./upcoming-events.html">Upcoming Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./past-events.html">Past Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./stats.html">Stats</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div id="carouselExample" class="carousel slide">

    <div class="carousel-inner">

      <div class="carousel-item">
        <a href="./home.html" class="item-car">
          <h3 class="text-car">Home</h3>
        </a>
      </div>

      <div class="carousel-item">
        <a href="./upcoming-events.html" class="item-car">
          <h3 class="text-car">Upcoming Events</h3>
        </a>
      </div>

      <div class="carousel-item active">
        <a href="./contact.html" class="item-car">
          <h3 class="text-car">Contact Us</h3>
        </a>
      </div>

      <div class="carousel-item">
        <a href="./stats.html" class="item-car">
          <h3 class="text-car">Stats</h3>
        </a>
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-caret-left-fill"
          viewBox="0 0 16 16">
          <path
            d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
        </svg>
      </span>
      <span class="visually-hidden">Previous</span>

    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
          class="bi bi-caret-right-fill" viewBox="0 0 16 16">
          <path
            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
        </svg>
      </span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <main>
    <div class="contact-form">
    <form class="contact">
        <div class="form-group mb-4">
          <label for="exampleInputName1">Name:</label>
          <input type="text" class="form-control" >
        </div>
        <div class="form-group mb-4">
          <label for="exampleInputEmail1">Email:</label>
          <input type="email" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="form-group mb-4">
            <label for="exampleInputPassword1">Mesagge:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </main>
</body>


<footer class="footer-basic container mt-3">
  <div class="social">
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
  </div>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="./home.html">Home</a></li>
    <li class="list-inline-item"><a href="./upcoming-events.html">Upcoming Events</a></li>
    <li class="list-inline-item"><a href="./past-events.html">Past Events</a></li>
    <li class="list-inline-item"><a href="./contact.html">Contact</a></li>
    <li class="list-inline-item"><a href="./stats.html">Stats</a></li>
  </ul>
  <p class="copyright">Barbara Bertone - FrontEnd Developer MindHub - Cohort 16TN - 2023</p>
</footer>

</html>